body {
    background-color: #edc51b;
}

.card {
    background-color: #ebb840;
    border: none;
}

h5 {
    color: #000;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #000;
}
.icon-container me-2{
    size-adjust: 50px;
}
.form-control {
    background-color: #fff;
    border: 1px solid #000;
}

.btn-primary {
    background-color: #fff;
    border: none;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
}

.table-warning {
    background-color: #ffeb00;
}

.table-bordered {
    border: 1px solid #000;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #000;
}

.table thead th {
    border-bottom: 2px solid #000;
}

input[type="text"]:focus, .form-control:focus {
    border-color: #b100cd;
    box-shadow: 0 0 5px rgba(177, 0, 205, 0.8);
    outline: none;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color:#edc51b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

i{
    
}
