body {
    background-color: #edc51b;
    display: block;
}

h5 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

section.informacoes{
    display: flex;
    margin: 2rem;
}


.reserva {
}

img.logo {
    width: 100%;
    height: 10rem;
}

.sair {
    width: 3rem;
}

.mail {
    width: 4rem;
}

.nome {
    width: 3rem;
}

.curso{}

.materia{}

.sair{}

.data {
    width: 3rem;
}

.hora {
    width: 3rem;
}

.rodape {
    position: relative;
}

.rod01 {

    font-weight: bold;
    color: #fff;
}

.rod02 {
    font-weight: bold;
    color: #a6a6a6;
}