body {
    background-color: #edc51b;
    display: block;
}


header .navbar {
    padding: 1rem;
    border-color: #000;
}

header .logo {
    width: auto;
    height: auto;
}

header .informacoes {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .informacoes ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .informacoes ul li {
    margin-left: 1rem;
}

header .informacoes img {
    width: 30px;
    height: auto;
}

header .informacoes .curso {
    font-size: 22px;
    color: rgb(0, 0, 0);
}

header .informacoes .materia {
    font-size: 22px;
    color: rgb(0, 0, 0);
}

header .informacoes select {
    margin-left: 0.5rem;
    padding: 0.25rem;
}

.reserva {
    padding: 2rem;
    background-color: #fff;
    border-radius: 4rem;
    max-width: 50rem;
    margin: 2rem auto;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
}

.reserva h3,
.reserva h5 {
    font-weight: bold;
    text-align: center;
}

.reserva input {
    display: inline;
    width: auto;
    margin-bottom: 1rem;
}

.reserva label,
.reserva select,
.reserva button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    
}

.reserva img {
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.reserva input[type="date"]  { padding: 0.5rem;
    border-radius: 3.5rem;
    border: 0.15rem solid #ccc;
    position: relative;
    left: -65%;
    transform: translateX(15%);
}
.reserva input[type="number"],
.reserva input[type="time"]{
    padding: 0.5rem;
    border-radius: 3.5rem;
    border: 0.15rem solid #ccc;
    position: relative;
    left: 20%;
    transform: translateX(-40%);
}
.reserva select,
.reserva button {
    padding: 0.5rem;
    border-radius: 3.5rem;
    border: 0.15rem solid #ccc;
    top: 50%;
    left: 50%;
}

.reserva table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reserva th {
    background-color: #000;
    color: #fff;
}

.reserva table,
.reserva th,
.reserva td {
    border: 0.05rem solid #ccc;
}

.reserva th,
.reserva td {
    padding: 0.5rem;
    text-align: center;
}


footer {
    background-color: #000;
    padding: 1rem 0;
    text-align: center;
}

footer .rodape p {
    margin: 0;
    font-weight: bold;
}

footer .rod02 {
    color: #a6a6a6;
}

footer .rod01 {
    color: #fff;
}