@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto';
}

body *{
    box-sizing: border-box;
}
.container{
    max-width: 1280px ;
    margin: auto;
}
.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: hsl(62, 100%, 50%);
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 8px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;

}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #000;
}


header  i{
    font-size: 30px;
    color: #fff;
}

header  ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;  
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #ecf805;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 60vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    color: #000000;
    
}

.left-login-img{
    width: 20vw;
}

.right-login{
    width: 40vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #8e8c0e56;
}

.card-login > h1{
    width: 10%;
    color: #fffffd;
    font-weight: 800;
    margin: 0;
    justify-content: center;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#fdfdfc;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:#f0ffffde ;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background: #ecf805;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffd92f;
}

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
    .textfield > h1{
        box-sizing: border-box;
    }
    .card-login>h1{
        width: 25vw;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login>h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-img{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
    .card-login>h1{
        width: 25vw;
    }
}
